{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Registrierung</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Admin Registrierung</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Admin erstellen</button>
        </form>


    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2025 Gym-Buddy | NADA Software</p>
    </footer>
    </div>
</body>
</html>
