{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Startseite</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Willkommen bei Gym-Buddy!</h1>

        {% if user.is_authenticated %}
            <p>Hallo, {{ user.username }}!</p>

        <nav>
            <ul>

                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'workout_create' %}">Workout aufzeichnen</a></li>
                    <li><a href="{% url 'all_coach' %}">Hol Dir einen Coach!</a></li>


                    {% if is_admin %}
                        <li><a href="{% url 'coach_create' %}">Coach hinzufügen</a></li>
                    {% endif %}

            </ul>
        </nav>


            <h2>Neueste Community-Beiträge</h2>
            <ul>
                {% for article in articles %}
                    <li>
                        <a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a>
                    </li>
                {% empty %}
                    <p>Keine Artikel verfügbar.</p>
                {% endfor %}
            <a href="{% url 'all_community' %}">Zu allen Beiträgen</a>
            </ul>

            <form method="post" action="{% url 'logout' %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" style="background: none; border: none; color: inherit; cursor: pointer; margin-top: 20px;">
                    Logout
                </button>
            </form>

        {% else %}
            <p>Welcome! Bitte <a href="{% url 'login' %}">logge dich ein</a> oder <a href="{% url 'register' %}">registriere dich</a>, um alle Funktionen zu nutzen.</p>
        {% endif %}

        <footer>
            <p>&copy; NADA Software</p>
        </footer>
    </div>

</body>

</html>
