{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coach hinzufügen</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Coach hinzufügen</h1>

        <section class="form-section">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="submit-btn">Coach erstellen</button>
            </form>
        </section>

        <section class="navigation">
            <a href="{% url 'article_list' %}" class="back-link">Startseite</a>
        </section>
        <footer>
            <p>&copy; 2025 Gym-Buddy | NADA Software</p>
        </footer>
    </div>
</body>
</html>
