{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ernährungsplan erstellen</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Erfasse Deinen Ernährungsplan</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Plan speichern</button>
        </form>

        <div class="navigation">
            <a href="{% url 'dashboard' %}" class="back-link">Zum Dashboard</a>
            <a href="{% url 'article_list' %}" class="home-link">Startseite</a>
        </div>
        <footer>
            <p>&copy; 2025 Gym-Buddy | NADA Software</p>
        </footer>
    </div>
</body>
</html>
