<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alle Trainingspläne</title>
</head>
<body>
    <h1>Deine Trainingspläne</h1>
    <ul>
        {% for tplan in tplans %}
            <li>
                <a href="{% url 'tplan_detail' tplan.pk %}">
                    {{ tplan.name }} - {{ tplan.category }}
                </a>
            </li>
        {% empty %}
            <li>Keine Pläne gefunden.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'article_list' %}">Startseite</a>
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>