<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ernährungsplan Detail</title>
</head>
<body>
    <h1>{{ mplan.name }} - Details</h1>
    <p>Frühstück: {{ mplan.breakfast }}</p>
    <p>Snack 1: {{ mplan.snack1 }}</p>
    <p>Mittagessen: {{ mplan.lunch }}</p>
    <p>Snack 2: {{ mplan.snack2 }}</p>
    <p>Abendessen: {{ mplan.dinner }}</p>
    <p>Kalorien: {{ mplan.calories }}</p>

    <a href="{% url 'dashboard' %}">Zurück zum Dashboard</a>
    <a href="{% url 'article_list' %}">Startseite</a>
</body>
</html>