{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ tplan.name }} - Details</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>{{ tplan.name }} - Details</h1>
        <section class="training-plan-details">
            <p><strong>Kategorie:</strong> {{ tplan.category }}</p>
            <p><strong>Übung 1:</strong> {{ tplan.exercise1 }}</p>
            <p><strong>Übung 2:</strong> {{ tplan.exercise2 }}</p>
            <p><strong>Übung 3:</strong> {{ tplan.exercise3 }}</p>
            <p><strong>Übung 4:</strong> {{ tplan.exercise4 }}</p>
            <p><strong>Übung 5:</strong> {{ tplan.exercise5 }}</p>
            <p><strong>Übung 6:</strong> {{ tplan.exercise6 }}</p>
        </section>

        <div class="navigation">
            <a href="{% url 'dashboard' %}" class="navigation-link">Zum Dashboard</a>
            <a href="{% url 'article_list' %}" class="navigation-link">Startseite</a>
        </div>
        <footer>
            <p>&copy; 2025 Gym-Buddy | NADA Software</p>
        </footer>
    </div>
</body>
</html>
