<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trainingsplan Detail</title>
</head>
<body>
    <h1>{{ tplan.name }} - Details</h1>
    <p>Kategorie: {{ tplan.category }}</p>
    <p>Übung 1: {{ tplan.exercise1 }}</p>
    <p>Übung 2: {{ tplan.exercise2 }}</p>
    <p>Übung 3: {{ tplan.exercise3 }}</p>
    <p>Übung 4: {{ tplan.exercise4 }}</p>
    <p>Übung 5: {{ tplan.exercise5 }}</p>
    <p>Übung 6: {{ tplan.exercise6 }}</p>

    <a href="{% url 'all_tplan' %}">Zurück zu allen Trainingsplänen</a>
    <a href="{% url 'dashboard' %}">Zurück zum Dashboard</a>
</body>
</html>