{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ mplan.name }} - Details</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>{{ mplan.name }} - Details</h1>
        <section class="meal-plan-details">
            <p><strong>Frühstück:</strong> {{ mplan.breakfast }}</p>
            <p><strong>Snack 1:</strong> {{ mplan.snack1 }}</p>
            <p><strong>Mittagessen:</strong> {{ mplan.lunch }}</p>
            <p><strong>Snack 2:</strong> {{ mplan.snack2 }}</p>
            <p><strong>Abendessen:</strong> {{ mplan.dinner }}</p>
            <p><strong>Kalorien:</strong> {{ mplan.calories }}</p>
        </section>

        <div class="navigation">
            <a href="{% url 'dashboard' %}" class="navigation-link">Zum Dashboard</a>
            <a href="{% url 'homepage' %}" class="navigation-link">Startseite</a>
        </div>
        <footer>
            <p>&copy; 2025 Gym-Buddy | NADA Software</p>
        </footer>
    </div>
</body>
</html>
