{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erfolgreich ausgeloggt</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Erfolgreich ausgeloggt</h1>
        <p>Du bist nun abgemeldet. Bis bald!</p>

        <div class="navigation">
            <a href="{% url 'login' %}" class="back-link">Hier einloggen</a>
            <a href="{% url 'homepage' %}" class="back-link">Startseite</a>
        </div>

    <footer class="footer">
        <p>&copy; 2025 Gym-Buddy | NADA Software</p>
    </footer>
    </div>
</body>
</html>
