{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn">Login</button>
        </form>

        <div class="navigation">
            <a href="{% url 'register' %}" class="back-link">Noch keinen Account? Jetzt registrieren</a>
        </div>
    <footer>
        <p>&copy; 2025 Gym-Buddy | NADA Software</p>
    </footer>
    </div>
</body>
</html>
